services:
  api:
    build:
      context: .
      dockerfile: ERBMS.API/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=ERBMS;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
      - Jwt__Issuer=ERBMS
      - Jwt__Audience=ERBMS.Client
      - Jwt__Key=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
    depends_on:
      - db

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - api

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Your_password123
    ports:
      - "1433:1433"
